<!DOCTYPE html>
<html>
    <head>
        <title>Smriti's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Smriti's Blog</a></h1>
        </header>

        <article>
            <time>published: 1.06.2021, 12:00</time>
            <h2><a href="">My first post</a></h2>
            <p>{{posts}}</p>
        </article>

        <article>
            <time>published: 1.06.2021, 12:05</time>
            <h2><a href="">My second post</a></h2>
            <p>{{posts}}</p>
        </article>
    </body>
</html>